<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
</div>

<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      
      <div class="card shadow">

        <!-- HEADER DE LA TABLA -->
        <div class="card-header border-0 d-flex justify-content-between align-items-center">
          <h3 class="mb-0">{{ title }}</h3>

          <button class="btn btn-outline-primary" (click)="onCreate()">
            + Crear {{ singular }}
          </button>
        </div>

        <!-- TABLA -->
        <div class="table-responsive">
          <app-generic-table
            [columns]="columns"
            [data]="data"
            [actionsTemplate]="actions">
          </app-generic-table>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- TEMPLATE PARA ACCIONES -->
<ng-template #actions let-item>
  <button class="btn btn-sm btn-outline-dark me-2" (click)="onViewMenu(item)">Ver Menu</button>
  <button class="btn btn-sm btn-outline-primary me-2" (click)="onEdit(item)">Editar</button>
  <button class="btn btn-sm btn-outline-danger" (click)="onDelete(item)">Eliminar</button>
</ng-template>
