.map-picker-card {
  border-radius: 12px;
  overflow: hidden;
}

.map-container {
  width: 100%;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.suggestions-list {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.leaflet-container {
  z-index: 2 !important;
}
