<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
  <div class="row">

    <!-- ===== FILA 1: PIE CHARTS ===== -->
    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Estado de pedidos</h5>
        <canvas baseChart
          [data]="pie1"
          [type]="'pie'">
        </canvas>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Uso de Motocicletas</h5>
        <canvas baseChart
          [data]="pie2"
          [type]="'pie'">
        </canvas>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Ventas Día vs Noche</h5>
        <canvas baseChart
          [data]="pie3"
          [type]="'pie'">
        </canvas>
      </div>
    </div>


    <!-- ===== FILA 2: BAR CHARTS ===== -->
    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Pedidos Mensuales</h5>
        <canvas baseChart
          [data]="bar1"
          [type]="'bar'">
        </canvas>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Ventas por Restaurante</h5>
        <canvas baseChart
          [data]="bar2"
          [type]="'bar'">
        </canvas>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Entregas por Motocicleta</h5>
        <canvas baseChart
          [data]="bar3"
          [type]="'bar'">
        </canvas>
      </div>
    </div>


    <!-- ===== FILA 3: LINE CHARTS ===== -->
    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Pedidos por Día</h5>
        <canvas baseChart
          [data]="line1"
          [type]="'line'">
        </canvas>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Ingresos Semanales</h5>
        <canvas baseChart
          [data]="line2"
          [type]="'line'">
        </canvas>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow p-3 chart-card">
        <h5 class="text-center mb-3">Pedidos por Hora</h5>
        <canvas baseChart
          [data]="line3"
          [type]="'line'">
        </canvas>
      </div>
    </div>

  </div>
</div>
